<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>{partner.name}</h1>

<f:flashMessages />
<f:render partial="Partner/Properties" arguments="{partner:partner}" />
<f:link.action action="list" noCacheHash="true">Back to list</f:link.action>

  <script src="https://maps.googleapis.com/maps/api/js?key={googleApiKey}" type="text/javascript"></script>
  <f:format.raw>{googleMap}</f:format.raw>
</f:section>
</html>
