<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-partner-listing" >
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.name" />
		</td>
		<td>
		{partner.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.url_part" />
		</td>
		<td>
		{partner.urlPart}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.email" />
		</td>
		<td>
		{partner.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.phone" />
		</td>
		<td>
		{partner.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.fax" />
		</td>
		<td>
		{partner.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.street" />
		</td>
		<td>
		{partner.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.post_code" />
		</td>
		<td>
		{partner.postCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.city" />
		</td>
		<td>
		{partner.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.country" />
		</td>
		<td>
		{partner.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.contact_person" />
		</td>
		<td>
		{partner.contactPerson}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.info" />
		</td>
		<td>
		{partner.info}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.info_image" />
		</td>
		<td>
				<f:image src="{partner.infoImage.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.service" />
		</td>
		<td>
		{partner.service}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.service_image" />
		</td>
		<td>
				<f:image src="{partner.serviceImage.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.contact_image" />
		</td>
		<td>
				<f:image src="{partner.contactImage.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.imprint" />
		</td>
		<td>
		{partner.imprint}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_partnerlisting_domain_model_partner.terms_and_conditions" />
		</td>
		<td>
		{partner.termsAndConditions}
		</td>
	</tr>
</table>
</html>