<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Lead</h1>

<f:flashMessages />

<table  class="tx_partnerlisting" >
	<tr>
		<th><f:translate key="tx_partnerlisting_domain_model_lead.name" /></th>
		<th><f:translate key="tx_partnerlisting_domain_model_lead.email" /></th>
		<th><f:translate key="tx_partnerlisting_domain_model_lead.street" /></th>
		<th><f:translate key="tx_partnerlisting_domain_model_lead.post_code_and_city" /></th>
		<th><f:translate key="tx_partnerlisting_domain_model_lead.phone" /></th>
		<th><f:translate key="tx_partnerlisting_domain_model_lead.fax" /></th>
		<th><f:translate key="tx_partnerlisting_domain_model_lead.message" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{leads}" as="lead">
		<tr>
			<td><f:link.action action="show" arguments="{lead : lead}"> {lead.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{lead : lead}"> {lead.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{lead : lead}"> {lead.street}</f:link.action></td>
			<td><f:link.action action="show" arguments="{lead : lead}"> {lead.postCodeAndCity}</f:link.action></td>
			<td><f:link.action action="show" arguments="{lead : lead}"> {lead.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{lead : lead}"> {lead.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{lead : lead}"> {lead.message}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{lead : lead}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{lead : lead}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Lead</f:link.action>
</f:section>
</html>